@charset "utf-8";
/* CSS Document */

body
{
	margin:0;
}

img
{
	width: 100%;
}

#wrapper 
{
	width:1024px;
	height:768px;
	position:relative;
	background-size: 100%;
	background-color: #ffffff;
	margin:0 auto;
}

#arrow_left
{
	width: 26px;
	height: 30px;
	position: absolute;
	margin: 35% 0 0 1%;
	z-index: 100;
}

#arrow_right
{
	width: 26px;
	height: 30px;
	position: absolute;
	right: 0px;
	margin: 35% 1% 0 0;
	z-index: 100;
}

#footer
{
    width: 100%;
    height: auto;
    position: relative;
    margin: 70% 0 0 0;
    float: left;
}

#page01
{
	width:100%;
	height:auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

#page02
{
	width:100%;
	height:auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

#page02_copy01
{
	width:50%;
	height:30%;
    position: relative;
	float: left;
	margin: 20% 0 0 10%;
}

#page02_copy02
{
	width:14%;
	height:auto;
    position: relative;
	float: left;
	margin: 53% 0 0 0%;
}

#page02_copy03
{
	width:14%;
	height:auto;
    position: relative;
	float: left;
	margin: 53% 0 0 0%;
}

#page02_copy04
{
	width:14%;
	height:auto;
    position: relative;
	float: left;
	margin: 53% 0 0 0%;
}

#page02_popup
{
	width:80%;
	height:auto;
    position: relative;
	float: left;
	margin: 5% 0 0 10%;
}

#page02_popup01
{
	width:100%;
	height:auto;
    position: absolute;
	display: none;
	z-index: 100;
}

#page02_popup02
{
	width:100%;
	height:auto;
    position: absolute;
	display: none;
	z-index: 100;
}

#page02_popup03
{
	width:100%;
	height:auto;
    position: absolute;
	display: none;
	z-index: 100;
}

#page02_popup04
{
	width:100%;
	height:auto;
    position: absolute;
	display: none;
	z-index: 100;
}

#page02_popup04_01
{
	width:100%;
	height:auto;
    position: absolute;
	z-index: 100;
}

#page02_popup04_02
{
	width:100%;
	height:auto;
    position: absolute;
	z-index: 100;
}



#page03
{
	width:100%;
	height:auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

#page04
{
	width:100%;
	height:auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

#page05
{
	width:100%;
	height:auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

#pop
{
    width: 45%;
    height: 55%;
    position: absolute;
    margin: 35% 0 0 6%;
}

#close{
	width: 7%;
	height: 7%;
	position: absolute;
	margin: 13% 0 0 55%;
	z-index: 11;
}

@media screen and (max-width: 2000px) {


#wrapper 
{
	width:100%;
	height:720px;
}

iframe
{
    width: 70%;
    height: 540px;
}

#page01
{
	width:100%;
	height:720px;
    background-size: 100%;
}


#pop
{
    height: 55%;
}

    
}
    
    
    
    

@media screen and (max-width: 1180px) {
    
    



#wrapper 
{
    width: 100%;
	height:660px;
}


#page01
{
    width: 100%;
	height:660px;
}

#pop
{
    height: 20%;
}
  
    
}
